<launch>

  <node pkg="audio_service" type="audioServiceBlocking.py" name="text2Speech"  />
	
  <node pkg="audio_service" type="test_microphone.py" name="speech2Text" args=" -m=/robotApp/model " />
  
  <node pkg="user_interface" type="mainMenu.py" name="ui1" args="  "  />
  
   <node pkg="robot_face" type="robot_face1.py" name="robot_face1" args="10 10"  />
  
   <include file="$(find unifiedGestureFingertipDetection)/launch/demo.launch"/>
  
   <include file="$(find motors_controller)/launch/demoMotorOnline.launch"/> -->

</launch>
