userInterface/database/__pycache__/base.cpython-38.pyc
userInterface/database/__pycache__/movie.cpython-38.pyc
userInterface/database/tables/__pycache__/actor.cpython-38.pyc
userInterface/database/tables/__pycache__/movie.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerType1.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerType1.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerExersice2.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerType2.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerExersice4.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerExersice5.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerExersice6.cpython-38.pyc
user_interface/model/__pycache__/mainWindowModel.cpython-38.pyc
user_interface/views/__pycache__/menuView.cpython-38.pyc
user_interface/views/__pycache__/DisplayImageWidget.cpython-38.pyc
user_interface/views/ui/__pycache__/menu.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerType1.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerExersice2.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerType2.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerExersice4.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerExersice5.cpython-38.pyc
user_interface/exersiceController/__pycache__/ControllerExersice6.cpython-38.pyc
user_interface/views/__pycache__/
user_interface/views/__pycache__/menuView.cpython-38.pyc
audio_service/audio.mp3
