<launch>

  <node pkg="unifiedGestureFingertipDetection" type="real-time2.py" name="detector"  
  
  args=" --detector /robotApp/face_detection_model  --embedding /robotApp/face_rec/openface_nn4.small2.v1.t7   --recognizer /robotApp/outpout9/recognizer.pickle   --le /robotApp/outpout9/le.pickle --faceNew /robotApp/faceNew/" />


  
</launch>
